<mat-card class="w-25 m-auto">
  <mat-card-content class="content d-flex flex-column">
    <mat-progress-bar
      mode="determinate"
      [value]="password.score"
    ></mat-progress-bar>
    <p class="text-center">{{ password.strengthName }}</p>
    <mat-form-field class="input">
      <input
        matInput
        #outputPassword
        type="text"
        placeholder="Generated password"
        [value]="password.value"
      />
    </mat-form-field>
    <mat-form-field class="input">
      <input
        matInput
        #passwordLengthInput
        type="number"
        [(ngModel)]="length"
        [min]="lengthMin"
        [max]="lengthMax"
        [value]="length"
      />
    </mat-form-field>
    <mat-checkbox
      class="input"
      [(ngModel)]="checkboxes.uppercase"
      [checked]="checkboxes.uppercase"
    >
      Include uppercase letters (e.g: ABCDEF)
    </mat-checkbox>
    <mat-checkbox
      class="input"
      [(ngModel)]="checkboxes.lowercase"
      [checked]="checkboxes.lowercase"
    >
      Include lowercase letters (e.g: abcdef)
    </mat-checkbox>
    <mat-checkbox
      class="input"
      [(ngModel)]="checkboxes.numbers"
      [checked]="checkboxes.numbers"
    >
      Include numbers (e.g: 12345)
    </mat-checkbox>
    <mat-checkbox
      class="input"
      [(ngModel)]="checkboxes.symbols"
      [checked]="checkboxes.symbols"
    >
      Include special characters (e.g: !@#$%)
    </mat-checkbox>
    <mat-checkbox
      class="input"
      [(ngModel)]="checkboxes.excludeSimilarCharacters"
      [checked]="checkboxes.excludeSimilarCharacters"
    >
      Exclude similar characters (e.g: i, l, 1, L, o, 0, O)
    </mat-checkbox>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onGenerate(passwordLengthInput.value)">
      GENERATE
    </button>
    <button mat-button (click)="onPasswordCopy()">
      COPY TO CLIPBOARD
    </button>
  </mat-card-actions>
</mat-card>
